<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320319622536-b9uopf1nnlvpbvp8o2k0tqr1i9pei12q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320319622536-b9uopf1nnlvpbvp8o2k0tqr1i9pei12q</string>
	<key>API_KEY</key>
	<string>AIzaSyAaGEPRczX1xsuE4l6fxw-dtwdXvIgcNIs</string>
	<key>GCM_SENDER_ID</key>
	<string>320319622536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.trof.baseBuild.prod</string>
	<key>PROJECT_ID</key>
	<string>basebuild-56689</string>
	<key>STORAGE_BUCKET</key>
	<string>basebuild-56689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320319622536:ios:8ba7a4bfb38132d1d8fe3d</string>
</dict>
</plist>